<div class="container" style="margin-top: 1%;font-size: 120%;">
    <div class="text-center">
        <h2 class="italic" style="color: #152F4F">Misión</h2>
            <p class="italic" >
                <i>
                    "Lograr que nuestros estudiantes de inicial, primaria y secundaria culminen satisfactoriamente 
                    su escolaridad siendo competentes, críticos, reflexivos, en un ambiente de calidez, 
                    comprensión y tolerancia, basados en el Perfil de egreso establecido en el currículo nacional y 
                    las virtudes fatimianas de FE, ESPERANZA, ORACIÒN y SERVICIO teniendo como centro a Cristo."
                </i>
            </p>

        <h2 class="italic" style="color: #152F4F">Visión</h2>
            <p class="italic"> 
                <i>
                    "Ser reconocidos como una comunidad educativa formada por líderes católicos, que contribuye a que todos 
                    nuestros estudiantes sean competentes frente a los retos y desafíos de la sociedad actual, 
                    en concordancia con el perfil de egreso del CNEB y las Virtudes Fatimianas para el desarrollo de 
                    su región y país."

                </i>
            </p>
    </div>
<div class="text-center">
    <img src="\assets\20191107_103419.jpg" class="img-fluid" alt="Responsive image">
</div>
<h2 class="italic" style="color: #152F4F">Valores</h2>
    <p style="text-align: justify">
        Compartimos con todas las IIEE del país los siguientes principios: ética, equidad, inclusión, 
        calidad, democracia, interculturalidad, conciencia ambiental, creatividad e innovación, 
        los cuales se ven reflejados en los Enfoque transversales determinados por el CN:
    </p>
        <ul>
            <li> Enfoque de derechos</li>
            <li> Enfoque inclusivo o de atención a la diversidad </li>
            <li> Enfoque intercultural </li>
            <li> Enfoque de igualdad de género </li>
            <li> Enfoque ambiental</li>
            <li> Enfoque de orientación al bien común </li>
            <li> Enfoque de búsqueda de la excelencia </li>
        </ul>
<h2 class="italic" style="color: #152F4F">Valores Institucionales</h2>
    <p>La Institución Educativa Parroquial de Acción Conjunta “Nuestra Señora de Fátima” de Cusco está 
        encaminada por valores y Virtudes institucionales que guían cada una de las acciones dentro y 
        fuera de la institución, tales como Espiritualidad, Fe, Esperanza, Oración y Servicio para lograr 
        la calidad educativa comprometidos con la sociedad.
    </p>
</div>
<div class="text-center">
    <img src="\assets\20191013_094753.jpg" class="img-fluid" alt="Responsive image">
</div>