<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-ColorFatima">
  <a class="navbar-brand" href="#">
    <img src="/assets/LOGO FATIMA.jpg" width="70" height="80" class="d-inline-block align-centre" alt="">
    Institucion Educativa Parroquial "Nuestra Señora de Fátima"
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" >
        <a class="nav-link" routerLink="/Home">Inicio
        </a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="/Nosotros">Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Historia">Historia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Organizacion">Organizacion
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Galeria">Galeria
        </a>
      </li>
      
    </ul>
  </div>
</nav>