<nav class="navbar navbar-expand-lg navbar-light bg-ColorFatima">
      <a class="navbar-brand" href="/" style="font-weight: bold; color: #FFFFFF;">
        <img src="/assets/logo.png" width="70" height="100" class="d-inline-block align-centre" alt="">
          Nuestra Señora de Fátima
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="text-align:center;">
          <li class="nav-item active">
            <a class="nav-link" style="color: #FFFFFF;" routerLink="/Home">Inicio<span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" style="color: #FFFFFF;" routerLink="/Nosotros">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #FFFFFF;"routerLink="/Historia">Historia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #FFFFFF;" routerLink="/Organizacion">Organización
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #FFFFFF;" routerLink="/Calendarizacion">Calendarización
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #FFFFFF;" routerLink="/Galeria">Galeria
            </a>
          </li>
        </ul>
      </div>
    </nav>