<!-- Page Content -->
<div class="container">

  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Galery de Fotos</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-6">
            <img class="img-fluid img-thumbnail" src="\assets\20191008_160503.jpg" alt="">
    </div>
    <div class="col-lg-3 col-md-4 col-6">
            <img class="img-fluid img-thumbnail" src="\assets\20191012_174443.jpg" alt="">
    </div>
    <div class="col-lg-3 col-md-4 col-6">
            <img class="img-fluid img-thumbnail" src="\assets\20191012_174506.jpg" alt="">
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191012_194727.jpg" alt="">
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191012_194749.jpg" alt="">
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191013_080140.jpg" alt="">
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191013_080157.jpg" alt="">
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191013_094607.jpg" alt="">
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191013_094617.jpg" alt="">
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191013_094655.jpg" alt="">
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191013_094715.jpg" alt="">
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191013_094753.jpg" alt="">
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191013_094821.jpg" alt="">
    </div>
  </div>

</div>
<!-- /.container -->