<!-- Page Content -->
<div class="container">

<h3 class="text-heading mb-2 mt-3" style="color: #152F4F" >Galeria de Fotos</h3>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191008_160503.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191012_194727.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191013_080140.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191013_080157.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191013_094607.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191013_094617.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191013_094655.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191013_094715.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191013_094753.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191013_094821.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191013_094838.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191013_094858.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191013_094958.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191013_095048.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191025_094340.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191025_094343.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191025_094346.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191025_094352.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191028_075443.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191028_075506.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191028_075518.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191028_212804.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191107_103419.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191107_103613.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191107_103642.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191107_103645.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191107_103856.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191107_104122.jpg" alt="">
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail"  src="\assets\20191012_174443.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail"  src="\assets\20191012_174506.jpg" alt="">
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191012_194749.jpg" alt="">
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191015_154236.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191015_154239.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191015_154250.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191015_154258.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191015_154306.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191015_154324.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191015_154336.jpg" alt="">
    </div>
     <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191015_154347.jpg" alt="">
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <img class="img-fluid img-thumbnail" src="\assets\20191015_154227.jpg" alt="">
     </div>
</div>
<!-- /.container -->