<!-- End Header Area -->
<section class="about-generic-area pb-100">
    <section class="sample-text-area">
        <div class="container">
            <h2 class="text-heading mb-2 mt-3" style="color: #152F4F;text-align: center;" >PLANA DOCENTE</h2>
            <h3 class="text-heading mb-2 mt-3" style="color: #152F4F" >NIVEL INICIAL Y PRIMARIA</h3>
            <table class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">DOCENTE 2021</th>
                        <th scope="col">TURNO</th>
                        <th scope="col">NIVEL/GRADO/SECCION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>PROF. LUZ MARINA AMADO GRANADA</td>
                        <td>MAÑANA</td>
                        <td>INICIAL 4 AÑOS</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>PROF. ZOILA MARINA AGUILAR CASTILLO </td>
                        <td>TARDE</td>
                        <td>INICIAL 4 AÑOS B</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>PROF. ITALA MEZA ALVAREZ</td>
                        <td>MAÑANA</td>
                        <td>INICIAL 5 AÑOS</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>PROF. MELINA ARREDONDO QUISPE</td>
                        <td>TARDE</td>
                        <td>INICIAL 5 AÑOS B</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>PROF. MIRIAN FLOREZ TUERO</td>
                        <td>AUX DE INICIAL</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>PROF. MIRIAM VALDEIGLESIAS MAMANI</td>
                        <td>MAÑANA</td>
                        <td>1°A PRIMARIA</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>PROF. MARIA CLEOFÉ MONTESINOS VALENCIA</td>
                        <td>MAÑANA</td>
                        <td>1°B PRIMARIA</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>PROF. SOLEDAD QUISPE ESPINOZA</td>
                        <td>TARDE</td>
                        <td>1°C PRIMARIA</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>PROF. FLOR DE MARÍA ECHEGARAY LUNA</td>
                        <td>MAÑANA</td>
                        <td>2°A PRIMARIA</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>PROF. MONICA OCAMPO PACHECO</td>
                        <td>MAÑANA</td>
                        <td>2°B PRIMARIA</td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td>PROF. JESSICA QUISPE RUPA</td>
                        <td>TARDE</td>
                        <td>2°C PRIMARIA</td>
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td>PROF. EUFEMIA RODRIGUEZ USCAMAYTA</td>
                        <td>MAÑANA</td>
                        <td>3°A PRIMARIA</td>
                    </tr>
                    <tr>
                        <th scope="row">13</th>
                        <td>PROF. RUTH MAYORGA DAZA</td>
                        <td>MAÑANA</td>
                        <td>3°B PRIMARIA</td>
                    </tr>
                    <tr>
                        <th scope="row">14</th>
                        <td>PROF. LAURA IVET OSORIO HUAMAN</td>
                        <td>TARDE</td>
                        <td>3°C PRIMARIA</td>
                    </tr>
                    <tr>
                        <th scope="row">15</th>
                        <td>PROF. ADELA TRIVEÑO ROJAS</td>
                        <td>MAÑANA</td>
                        <td>4°A PRIMARIA</td>
                    </tr>
                    <tr>
                        <th scope="row">16</th>
                        <td>PROF. XIOMARA ZUBILETA COLLANQUE</td>
                        <td>MAÑANA</td>
                        <td>4°B PRIMARIA</td>
                    </tr>
                    <tr>
                        <th scope="row">17</th>
                        <td>PROF. BEDER PANTIA PHARRY</td>
                        <td>TARDE</td>
                        <td>4°C PRIMARIA</td>
                    </tr>
                    <tr>
                        <th scope="row">18</th>
                        <td>PROF. MARIA ALICIA RIOS BACA</td>
                        <td>MAÑANA</td>
                        <td>5°A PRIMARIA</td>
                    </tr>
                    <tr>
                        <th scope="row">19</th>
                        <td>PROF. JOEL TOMAICONZA RODRIGUEZ</td>
                        <td>MAÑANA</td>
                        <td>5°B PRIMARIA</td>
                    </tr>
                    <tr>
                        <th scope="row">20</th>
                        <td>PROF. VIRGINIA CHAVEZ TRIVEÑO</td>
                        <td>TARDE</td>
                        <td>5°C PRIMARIA</td>
                    </tr>
                    <tr>
                        <th scope="row">21</th>
                        <td>PROF. EUFEMIA CHOQUE ZEA</td>
                        <td>MAÑANA</td>
                        <td>6°A PRIMARIA</td>
                    </tr>
                    <tr>
                        <th scope="row">22</th>
                        <td>PROF. ISAAC VILLENA NUÑEZ</td>
                        <td>MAÑANA</td>
                        <td>6°B PRIMARIA</td>
                    </tr>
                    <tr>
                        <th scope="row">23</th>
                        <td>PROF. KATTY MORVELI BERROCAL</td>
                        <td>TARDE</td>
                        <td>6°C PRIMARIA</td>
                    </tr>
                    <tr>
                        <th scope="row">24</th>
                        <td>PROF. LASTENIA DELGADO OTAZÚ</td>
                        <td>MAÑANA</td>
                        <td>AIP</td>
                    </tr>
                    <tr>
                        <th scope="row">25</th>
                        <td>PROF. LIDIA CASTILLO DAVILA</td>
                        <td>MAÑANA</td>
                        <td>ED FISICA 1</td>
                    </tr>
                    <tr>
                        <th scope="row">26</th>
                        <td>PROF. ANALY PAMELA CONTRERAS APARICIO</td>
                        <td>MAÑANA|TARDE</td>
                        <td>ED FISICA 1</td>
                    </tr>

                </tbody>
            </table>
            <div class="container">
                <img src="\assets\Profesoras.jpg" class="img-fluid" alt="Responsive image">
            </div>
            <h3 class="text-heading mb-2 mt-5" style="color: #152F4F">NIVEL SECUNDARIA</h3>
            <table class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">DOCENTE</th>
                        <th scope="col">ÁREA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>PROF. ZIHANDY MORAYMA ARIZA TORRES</td>
                        <td>COMUNICACIÓN</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>PROF. DIANETH BEATRIZ QUISPE MAMANI </td>
                        <td>COMUNICACIÓN</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>PROF. ROSA ORTIZ CARRASCO</td>
                        <td>COMUNICACIÓN</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>PROF. MARGARITA MODESTA CHUTAS CUSIHUAMAN</td>
                        <td>COMUNICACIÓN</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>PROF. ANDRES HUAMAN CASTILLO</td>
                        <td>CIENCIA Y TECNOLOGÍA</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>PROF. MARIA CONCEPCION RAMOS PAUCAR</td>
                        <td>CIENCIA Y TECNOLOGÍA</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>PROF. JOSE MARCIAL LOAYZA CONDORI </td>
                        <td>MATEMÁTICA</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>PROF. CESAR HUAYHUA CONDORI</td>
                        <td>MATEMÁTICA</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>PROF. LIBERTAD VICTORIA DELGADO FLOREZ</td>
                        <td>MATEMÁTICA</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>PROF. YURLIT YECELI HUAMAN ARIAS</td>
                        <td>MATEMÁTICA</td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td>PROF. YESICA HUAMANI ACOSTUPA</td>
                        <td>EDUCACIÓN PARA EL TRABAJO</td>
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td>PROF. CLAUDIO CARLOS OLIVERA HUAYLLARO</td>
                        <td>EDUCACIÓN ARTÍSTICA</td>
                    </tr>
                    <tr>
                        <th scope="row">13</th>
                        <td>PROF. ISABEL ABARCA SANTANDER</td>
                        <td>CIENCIAS SOCIALES</td>
                    </tr>
                    <tr>
                        <th scope="row">14</th>
                        <td>PROF. BERTHA ROJAS TUPFIA</td>
                        <td>CIENCIAS SOCIALES</td>
                    </tr>
                    <tr>
                        <th scope="row">15</th>
                        <td>PROF. HILDA CHUQUINAYRA SAMA</td>
                        <td>CIENCIAS SOCIALES</td>
                    </tr>
                    <tr>
                        <th scope="row">16</th>
                        <td>PROF. CAROLINA OCHOA PALOMINO</td>
                        <td>CIENCIAS SOCIALES</td>
                    </tr>
                    <tr>
                        <th scope="row">17</th>
                        <td>PROF. RICHARD MENDOZA MAMANI</td>
                        <td>EDUCACIÓN FÍSICA</td>
                    </tr>
                    <tr>
                        <th scope="row">18</th>
                        <td>PROF. EDEN MAURICIO UGARTE AÑO</td>
                        <td>EDUCACIÓN FÍSICA</td>
                    </tr>
                    <tr>
                        <th scope="row">19</th>
                        <td>PROF. YULIO RODRIGUEZ TORRES</td>
                        <td>IDIOMA EXTRANJERO</td>
                    </tr>
                    <tr>
                        <th scope="row">20</th>
                        <td>PROF. RONALD CAMPANA TORRES</td>
                        <td>EDUCACIÓN RELIGIOSA</td>
                    </tr>
                    <tr>
                        <th scope="row">21</th>
                        <td>PROF. NATALIA QUISPE ALEMAN</td>
                        <td>EDUCACIÓN RELIGIOSA</td>
                    </tr>
                    <tr>
                        <th scope="row">22</th>
                        <td>PROF. JAVIER CACERES DUEÑAS</td>
                        <td>AIP</td>
                    </tr>
                    <tr>
                        <th scope="row">23</th>
                        <td>PROF. MIGUEL ALBERTO GIL JARA</td>
                        <td>AUXILIAR DE EDUCACIÓN 1</td>
                    </tr>
                    <tr>
                        <th scope="row">24</th>
                        <td>PROF. JHON EDER ARANA FIGUEROA</td>
                        <td>AUXILIAR DE EDUCACIÓN 2</td>
                    </tr>
                </tbody>
            </table>
            <div class="container">
                <img src="\assets\Profesores.jpg" class="img-fluid"alt="Responsive image">
            </div>
            <h3 class="text-heading mb-2 mt-5" style="color: #152F4F">PERSONAL ADMINISTRATIVO</h3>
            <table class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">PERSONAL</th>
                        <th scope="col">ÁREA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>SRA. ELVA FLOREZ VILLACORTA</td>
                        <td>BIBLIOTECARIA</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>SR. JORGE LUIS DUEÑAS ARAGÒN</td>
                        <td>SECRETARIA|SIAGIE</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>SRTA. SINTHIA AYQUIPA JARA</td>
                        <td>TESORERIA</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>SRA. NATIVIDAD HUAYHUA CALLALLI</td>
                        <td>MANTENIMIENTO 1</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>SR. ALEJANDRO GAMARRA FARFAN</td>
                        <td>MANTENIMIENTO 2</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </section>
</section>