<!-- End Header Area -->
<section class="default-banner active-blog-slider">
    <div class="item-slider relative" style="background: url(../../assets/slider_22.jpg);background-size: cover;" >
        <div class="row height align-items-center justify-content-center" >
            <div class="col-lg-10">
                <div class="generic-banner-content" >
                    <h2 class="text-white">Aguas Termales de Lares</h2>
                    <p class="text-white">De todas las Aguas Termales en Cusco, estas son las más visitadas por sus propiedades curativas para diversas enfermedades,
                         <br>entre ellas, enfermedades estomacales y reumáticas y afecciones como la artritis.</p>
                </div>							
            </div>
        </div>
    </div>
</section>				
    		
<!-- End banner Area -->

<!-- Start Generic Area -->
<section class="about-generic-area pb-100">
    <section class="sample-text-area">
        <div class="container">
            <h3 class="text-heading">RESEÑA HISTORICA</h3>
            <p class="sample-text">
                La prestigiosa Institución Educativa Parroquial de Acción Conjunta “Nuestra Señora de Fátima”, una de las más importante de la ciudad del Cusco, fue creada  el 1º de marzo de 1968 a través RD Nº 0382 para brindar un servicio educativo de calidad a los niños de escasos recursos económicos de las zonas marginales de la ciudad. La creación de la institución Educativa fue gracias a la iniciativa y las gestiones de Monseñor Ricardo Durand Flores, Arzobispo del Cusco, a quien se recuerda con una gran admiración y gratitud.
            </p>
            <p class="sample-text">
                Al año siguiente la institución funciona por un espacio de dos años en la Urbanización Progreso con cinco secciones bajo la Dirección de la profesora Lourdes Astete Vega. 
            </p>
            <p class="sample-text">
                A partir del 13 de mayo  de 1971 se ubica en su actual local ubicado en la Zona Cívica de la Urbanización de Ttio, empezando en un pabellón pre fabricado gracias a las donaciones de los países de Francia y Alemania gestionados por el Padre Rodrigo Molina. Posteriormente, la organización cusqueña PROSESA construyó las primeras aulas y se implementó con el mobiliario escolar. 
            </p>
            <p class="sample-text">
                Hasta antes de la década de los noventa la Dirección de nuestra institución estuvo a cargo de Directoras seglares, después fue asumida por primera vez por la religiosa, Sor Mirella, de origen italiano, quien impulsó el proyecto para la construcción de nuevas aulas conjuntamente con docentes y padres de familia. Posteriormente asumió el cargo la hermana Georgina Zegarra Alfaro, quien continuó con las gestiones del proyecto en la ciudad de Lima concretándose este en 1997, se inicio la construcción del pabellón de dos pisos con 6 aulas y servicios y un reservorio de agua a cargo de INFES, motivo por el cual se trasladó a instituciones educativas vecinas como Sagrado Corazón de Jesús  y Uriel García por un lapso de 18 meses. 
            </p>
            <p class="sample-text">
                En 1999 la hermana Rosario Álvarez Frisancho, de la congregación de las HERMANAS DE LA DIVINA PROVIDENCIA, se hizo cargo de la Dirección. En el año 2000 teniendo como Directora a la hermana Lourdes Cuzcano Sánchez, acompañada de otras hermanas inician la construcción de 4 aulas en un pabellón de dos pisos, gracias a donaciones del exterior y el apoyo de los padres de familia.
            </p>
            <p class="sample-text">
                El año 2001 se amplía el nivel secundario mediante la RD N° 03669 del 20 de diciembre por las gestiones del Rvdo. padre Genaro Huamán Huayllapuma, debido a la gran demanda de jóvenes que deseaban acceder a nuestra Institución por todos los logros obtenidos. El nivel secundario inicia con cuatro secciones, dos de primero y dos de segundo año, posteriormente se construye un pabellón de seis aulas con la colaboración de docentes, padres de familia y alumnos.
            </p>
            <p class="sample-text">
                Para el 2005 la Institución Educativa cuenta con veintidós secciones: doce del nivel primario y diez del nivel secundario, brindando un servicio educativo de calidad a niños y adolescentes
            </p>
            <p class="sample-text">
                Desde el año 2006 asume la Dirección de la Institución el Monseñor Manuel Bravo Álvarez enfatizando su labor en pastoral espiritual, conduciendo el proceso de transformación y cambio de la imagen institucional, ganándose el cariño, amor y respeto de la comunidad fatimiana.
            </p>
            <p class="sample-text">
                En el 2008 la institución inaugura su moderno centro de cómputo gracias a la colaboración de la dirección, docentes, padres de familia y estudiantes a fin de contar con los recursos tecnológicos, tan necesarios en la actualidad. 
            </p>
            <p class="sample-text">
                El año 2013 marca un hito significativo en la gran historia de la institución, porque se inicia la construcción de tres pabellones y un auditorio modernos. De esta forma se busca brindar las condiciones más adecuadas para el logro de los aprendizajes.
            </p>
            <p class="sample-text">
                A partir del 2014 gracias a la gestión ante la Unidad de Gestión Educativa Local de Cusco por la Dirección de nuestra institución educativa funciona el nivel de educación inicial, completando todos los niveles de la Educación Básica Regular para completar el modelo de educación que queremos implementar.
            </p>
            <p class="sample-text">
                En la actualidad, bajo la promotoria de Padre Manuel, la direccion está a cargo de la Mg. Carmen Rosa Romero Callo acompañada en la Sub Dirección de primaria por el Mg. Marvin Oscar Tapia López, Sub direccion de secundaria Mg. Hernan Orccohuarancca Condori y en la coordinacion pedagogica Prof. Yakeline Molina Mollepaza, quienes junto a la excelente plana de docentes, tienen como MISION: “Lograr que nuestros estudiantes de inicial, primaria y secundaria culminen satisfactoriamente su escolaridad siendo competentes, críticos, reflexivos, en un ambiente de calidez, comprensión y tolerancia, basados en el Perfil de egreso establecido en el currículo nacional y las vistudes fatimianas de FE, ESPERANZA, ORACIÒN y SERVICIO teniendo como centro a CRISTO”.
            </p>
            <p class="sample-text">
                Que la Virgen de Fátima siga protegiendo y bendiciendo a toda la gran familia de nuestra Institución Educativa para guiar convenientemente a nuestros estudiantes.
            </p>
        </div>
    </section>
</section>