<ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="\assets\20191013_080157.jpg" class="img-fluid" alt="Responsive image">
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="\assets\20191107_103642.jpg" class="img-fluid" alt="Responsive image">
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="\assets\20191028_075518.jpg" class="img-fluid" alt="Responsive image">
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>
  </ngb-carousel>
<div class="container" style="text-align: center;margin-top: 3%;">
  <img src="\assets\Imagen1.png" width="300px" height="500px">
    <div> 
        <h1 style="color: #152F4F">Colegio "Nuestra Señora de Fátima"</h1> 
        <br>
        <h2 style="color: #152F4F;font-style:italic;">“Con María, Madre de fe, esperanza, oración y servicio”</h2>
    </div>
</div>
<div class="container" style="margin-top: 5%;">
  <div style="text-align: center;">
    <h3 style="color: #152F4F">Niveles Formativos</h3> 
  </div>
  <br>
    <div class="card-deck">
      <div class="card">
        <img src="\assets\Educacion Inicial.jpg" class="card-img-top" alt="..." >
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title">Educación Inicial</h5>
          <p class="card-text">La Educación Inicial es el primer nivel de la Educación Básica Regular. 
            Atiende a los niños y las niñas menores de 6 años, es decir, se hace cargo de la educación en 
            los primeros años de vida, que constituyen una etapa de gran relevancia, pues en ella se establecen 
            las bases para el desarrollo del potencial biológico, afectivo, cognitivo y social de toda persona. 
            Este nivel sienta las bases para el desarrollo de las competencias de los niños y las niñas y se 
            articula con el nivel de Educación Primaria, lo que asegura coherencia pedagógica y curricular.</p>
          <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
        </div>
      </div>
        <div class="card">
          <img src="\assets\Educacion Primaria.jpg" class="card-img-top" alt="..." >
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title">Educación Primaria</h5>
            <p class="card-text">El nivel de Educación Primaria constituye el segundo nivel de la Educación 
              Básica Regular y dura regularmente seis años. Este nivel tiene como propósito educar 
              integralmente a niños y niñas, y promueve la comunicación en todas las áreas, el manejo 
              operacional del conocimiento, el desarrollo espiritual, personal, físico, afectivo, social, 
              vocacional y artístico, el pensamiento lógico, la creatividad, la adquisición de habilidades 
              necesarias para el despliegue de potencialidades, así como la comprensión de los hechos 
              cercanos al ambiente natural y social de los estudiantes.
            </p>
            <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
          </div>
        </div>
        <div class="card">
          <img src="\assets\Educacion Secundaria.jpg" class="card-img-top" alt="...">
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title">Educación secundaria</h5>
            <p class="card-text">La Educación Secundaria constituye el tercer nivel de la Educación Básica Regular 
              y tiene una duracion regular de cinco años. Ofrece a los estudiantes una formacion humanista, cientifíca 
              y tecnológica, cuyos conocimientos se encuentran en permanente cambio. Afianza la identidad personal y 
              social de los estudiantes. En este sentido, se orienta al desarrollo de competencias para la vida, el 
              trabajo, la convivencia democrática y el ejericicio de la ciudadania, y permitir el acceso a niveles 
              superiores de estudios.
            </p>
            <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
          </div>
        </div>
      </div>
</div>
<div style="text-align: center;margin-top: 5%; margin-bottom: 2%;">
    <h3 style="color: #152F4F">Plana Jerárquica</h3> 
  </div>
<div class="container">
    <div class="card-deck" style="text-align: center;">
      <div class="card">
        <img src="\assets\Promotor Padre Manuel Bravo Alvarez.jpg"  height="265px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Promotor</h5>
          <p class="card-text">Padre Manuel Bravo Alvarez</p>
          <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
        </div>
      </div>
        <div class="card">
          <img src="\assets\Directora Carmen Rosa Romero Callo.jpg" class="card-img-top" alt="..." >
          <div class="card-body">
            <h5 class="card-title">Directora</h5>
            <p class="card-text">Carmen Rosa Romero Callo</p>
          </div>
        </div>
        <div class="card">
          <img src="\assets\Sub Director de primaria Marvin Oscar Tapia López.jpg" height="265px" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Subdirector Primaria</h5>
            <p class="card-text">Marvin Oscar Tapia López</p>
          </div>
        </div>
        <div class="card">
            <img src="\assets\Sub director Secundaria Hernán Orcohuarancca Condori.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Subdirector Secundaria</h5>
              <p class="card-text">Hernán Orcohuarancca Condori</p>
            </div>
          </div>
          <div class="card">
            <img src="\assets\Yackeline Molina Mollepaza -Coordinadora- Nivel Secundaria.jpg" height="265px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Coordinadora Nivel Secundaria</h5>
              <p class="card-text">Yackeline Molina Mollepaza</p>
            </div>
          </div>
    </div>
</div>