<ngb-carousel class="destacado">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="\assets\20191013_080157.jpg"  width="1400px" height="290px" class="img-fluid" alt="Responsive image">
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="\assets\20191107_103642.jpg" width="1400px" height="290px" class="img-fluid" alt="Responsive image">
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="\assets\20191028_075518.jpg" width="1400px" height="290px" class="img-fluid" alt="Responsive image">
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<div class="container">
    <img src="\assets\Imagen1.png" width="300px" height="500px" style="float: right;">
  <br>
<br>
<br>

<br>
<br>

<br>
<br>
<br>
<br>
<br>

<br>
<br>
    <div style="text-align: left;">
        <h1>Colegio "Nuestra Señora de Fátima"</h1> 
        <br>
        <h2 style="font-style:italic;">“Con María, Madre de fe, esperanza, oración y servicio”</h2>
    </div>
</div>
<br>
<br>
<br>

<br>
<br>

<br>
<br>
<br>
<br>
<br>

<br>
<br>
<div style="text-align: center;">
    <h3>Areas Formativas</h3> 
  </div>
<br>
<div class="container">
    <div class="card-deck">
        <div class="card">
          <img src="\assets\20191107_103856.jpg" class="card-img-top" alt="..." >
          <div class="card-body">
            <h5 class="card-title">Educacion Primaria</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="\assets\20191025_094340.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Educacion secundaria</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
</div>
<br>
<br>
<div style="text-align: center;">
    <h3>Plana Docente</h3> 
  </div>
<br>
<div class="container">
    <div class="card-deck">
        <div class="card">
          <img src="\assets\Directora Carmen Rosa Romero Callo.jpg" class="card-img-top" alt="..." >
          <div class="card-body">
            <h5 class="card-title">Directora</h5>
            <p class="card-text">Carmen Rosa Romero Callo</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="\assets\Promotor Padre Manuel Bravo Alvarez.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Promotor</h5>
            <p class="card-text">Padre Manuel Bravo Alvarez</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
            <img src="\assets\Sub director Secundaria Hernán Orcohuarancca Condori.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sub director</h5>
              <p class="card-text">Hernán Orcohuarancca Condori</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img src="\assets\20191025_094340.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Educacion secundaria</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img src="\assets\20191025_094340.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Educacion secundaria</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
    </div>
</div>